@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
   url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
   url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
   url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSans";
  src: local("ProductSans"),
   url("./assets/fonts/ProductSans/ProductSans-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ol-zoom {
  display: none;
}